@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   96/2 2rd cross<br/>
    venkateswara layout<br/>
    M.G.Road,Bangalore<br/>
    <abbr title="phone">phone no:</abbr>
    7892505224
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:narendranaren881@gmail.com">narendranaren881@gmail.com</a><br/>
    <strong>developer:</strong> <a href="mailto:snehajr20@gmail.com">sneha.jr20@gmail.com</a><br/>
    <strong>info:</strong> <a href="mailto:gokavivikas1436@gmail.com">gokavivikas1436@gmail.com</a>
</address>